<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <app-logo></app-logo>
    <app-title-paragraph 
        [title]="'Change Password'"
        [content]="'Please fill the form below to change your password.'">
    </app-title-paragraph>

    <app-form-field id="password" label="Current Password" icon='<i class="fa-solid fa-lock"></i>' controlName="password" [formGroup]="changePasswordForm" type="password" placeholder="Type your current password"></app-form-field>

    <app-form-field id="password" label="New Password" icon='<i class="fa-solid fa-lock"></i>' eyeIcon="<i class='fa-regular fa-eye-slash' id='hide-password'></i>" controlName="password" [formGroup]="changePasswordForm" type="password" placeholder="Type your new password"></app-form-field>

    <app-form-field id="password" label="Confirm Password" icon='<i class="fa-solid fa-lock"></i>' eyeIcon="<i class='fa-regular fa-eye-slash' id='hide-password'></i>" controlName="password" [formGroup]="changePasswordForm" type="password" placeholder="confirm your password"></app-form-field>
    
    <app-button styleClass="primary" label="Save new password" type="submit" [disabled]="changePasswordForm.invalid"></app-button>
    <app-button styleClass="secondary" label="Back to login" type="button" [disabled]="changePasswordForm.invalid" (click)="onBackToLogin()"></app-button>
</form>