<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <app-logo></app-logo>
    <app-title-paragraph 
        [title]="'Forgot Password'"
        [content]="'Please enter your email to receive the reset link in your mail.'">
    </app-title-paragraph>

    <app-form-field label="Email/Staff ID" icon='<i class="fa-regular fa-envelope"></i>' controlName="username" [formGroup]="forgotPasswordForm" type="email" placeholder="Your email or staff ID"></app-form-field>
    <app-button styleClass="primary" label="Send reset link" type="submit" [disabled]="forgotPasswordForm.invalid"></app-button>

    <app-button styleClass="secondary" icon='<i class="fa-solid fa-arrow-left-long"></i>' label="Back to login" type="button" (click)="onBackToLogin()"></app-button>
</form>
